#about {
  width: 100vw;
  h1 {
    @include section-header;
  }
  //   .img-hover-zoom--quick-zoom img {
  //     transform-origin: 0 0;
  //     transition: transform .25s, visibility .25s ease-in;
  //   }

  //   .img-hover-zoom--quick-zoom:hover img {
  //     transform: scale(2);
  //   }
  div {
    img {
      width: 40%;
      padding: 0 3% 1% 0;
      border-radius: 10px 10px 10px 10px;
      transition: transform 0.25s, visibility 0.25s ease-in;
      float: left;
      transform-origin: 0 0;
    }
    :hover img {
      transform: scale(1.5);
    }
  }

  p {
    line-height: 1.5;
    font-size: 2.6rem;
  }
}
