#contact {
  color: white;
  text-align: center;
  h1 {
    @include section-header;
  }
  input {
    width: 46%;
    margin-bottom: 20px;
    @include inputs;
    &:first-of-type {
      margin-right: 8%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
    resize: none;
    @include inputs;
  }
  button {
    font-size: 2.5rem;
    background-color: transparent;
    padding: 15px 60px;
    border-radius: 15px;
    border: 1px solid white;
    text-align: right;
  }
}
