#cursor {
  z-index: 99;
  width: 40px;
  height: 40px;
  transform: translate(-25%, -25%);
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}
#point {
  transition: 0.1s;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(50%, 50%);
  z-index: 99;
  border-radius: 50%;
  pointer-events: none;
  background-color: #fff;
}
@media (max-width: 600px) {
  #cursor,
  #point {
    display: none;
  }
}
