#first {
  overflow-y: hidden;
  height: 100vh;
  padding: 0;
  #shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
    height: 100%;
    width: 100%;
  }
  video {
    width: 100%;
  }
  h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    font-weight: 700;
  }
}
