#first {
  overflow-y: hidden;
  height: 100vh;
  padding: 0;
  #shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
    height: 100%;
    width: 100%;
  }
  video {
    width: 100%;
    @media (max-width: 800px) {
      width: auto;
      height: 100%;
    }
  }
  h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    font-weight: 700;
    text-align: center;
    animation: infinite switchText 3s;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  #toScroll {
    height: 100px;
    width: 50px;
    border: 2px solid white;
    z-index: 9;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 35px;
      width: 35px;
      background-color: #fff;
      border-radius: 20px;
      animation: linear moveBall infinite 3s;
    }
    @media (max-width: 800px) {
      width: 40px;
      height: 80px;
      div {
        width: 25px;
        height: 25px;
      }
    }
  }
}
