footer {
  background-color: $footer-background;
  border-radius: 0 150px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  padding: 5% 15% 5% 10%;
  h1 {
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;
    margin-right: 5%;
  }
  ul {
    display: inline-block;
    list-style: none;
    h2 {
      font-size: 3.5rem;
    }
    li {
      margin-top: 10%;
      font-size: 2.2rem;
      display: block;
    }
    @media (max-width: 800px) {
      margin: 20px 0;
    }
  }
  @media (max-width: 800px) {
    padding: 40px;
    border-radius: 0 100px 0 0;
  }
}
