* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
html {
  font-size: 67.5%;
  @media (max-width: 800px) {
    font-size: 45%;
  }
  scroll-behavior: smooth;
}
body {
  font-size: 2rem;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    #050505 20%,
    $bg-blue 55%,
    rgb(63, 63, 63) 80%,
    rgb(98, 98, 98) 100%
  );
}

section,
form {
  padding: 100px 200px;
  @media (max-width: 800px) {
    padding: 40px 20px;
  }
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 20px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: darken($bg-blue, 10%);
  border-radius: 10px;
  transition: 0.5s;
  &:hover {
    background-color: darken($bg-blue, 15%);
  }
}
