nav {
  background-color: $nav-black;
  width: 100%;
  box-shadow: 0px 10px 8px $nav-black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 120px;
  z-index: 10;
  @media (max-width: 800px) {
    height: 90px;
    justify-content: space-around;
  }
  a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 4rem;
    width: 18%;
    line-height: 120px;
    text-align: center;
    @media (max-width: 800px) {
      display: none;
      line-height: 90px;
    }
  }
  :nth-child(3) {
    font-size: 5.7rem;
    width: 18%;
    @media (max-width: 800px) {
      width: 100%;
      text-align: center;
      display: block;
    }
  }
  button {
    background-color: transparent;
    border: none;
    display: none;
    margin-right: 10%;
    i {
      font-size: 5rem;
      color: white;
    }
    @media (max-width: 800px) {
      display: block;
    }
  }
  #menu {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.89);
    height: 100vh;
    width: 100vw;
    padding: 5%;
    animation: 1s slideMenu;
    a {
      display: block;
      font-size: 4rem;
      width: 100%;
      padding: 3%;
      text-align: center;
    }
    button {
      i {
        font-size: 6rem;
      }
    }
  }
  .slideout {
    animation: 1s slideMenu reverse;
  }
}
