nav {
  background-color: $nav-black;
  width: 100%;
  box-shadow: 0px 10px 8px $nav-black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 120px;
  z-index: 10;
  a {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 4rem;
    width: 18%;
    line-height: 120px;
    text-align: center;
    @media (max-width: 600px) {
      display: none;
    }
  }
  :nth-child(3) {
    font-size: 5.7rem;
    width: 18%;
    @media (max-width: 600px) {
      width: 100%;
      text-align: left;
      display: block;
    }
  }
}
