#projects {
  padding: 100px 100px;
  h1 {
    @include section-header;
  }
  .singleProj {
    display: flex;
    &:first-of-type {
      margin-bottom: 100px;
    }
    p {
      font-size: 3rem;
      padding: 0 50px;
      a {
        text-decoration: none;
        color: darken($bg-blue, 30%);
      }
    }
    video {
      border-radius: 10px;
      width: 55%;
      filter: grayscale(100%) brightness(50%) blur(1px);
      transition: 0.3s;
      &:hover {
        filter: grayscale(0);
      }
    }
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
  }
}
