#projects {
  h1 {
    @include section-header;
  }
  .singleProj {
    display: flex;
    &:first-of-type {
      margin-bottom: 100px;
    }
    @media (max-width: 700px) {
      display: block;
    }
    div {
      h2 {
        font-size: 4rem;
        padding: 10px 40px;
      }
      p {
        font-size: 3rem;
        padding: 0 50px;
        @media (max-width: 700px) {
          font-size: 2.5rem;
          padding: 0 20px;
        }
        a {
          text-decoration: none;
          color: darken($bg-blue, 30%);
        }
      }
    }

    video {
      border-radius: 10px;
      width: 55%;
      filter: grayscale(100%) brightness(50%) blur(1px);
      transition: 0.3s;
      &:hover {
        filter: grayscale(0);
      }
      @media (max-width: 700px) {
        width: 100%;
      }
    }
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
    @media (max-width: 700px) {
      flex-direction: row;
    }
  }
}
