#skills {
  h1 {
    @include section-header;
  }
  .category {
    h2 {
      font-size: 4.5rem;
      text-align: center;
    }
    div {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .iconContainer {
        padding: 30px;
        width: 200px;
        border-radius: 10px;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        @media (max-width: 800px) {
          width: 100px;
          padding: 10px;
        }
        img {
          width: 100%;
          transition: 0.5s;
        }
        &:hover img {
          filter: invert(97%) sepia(11%) saturate(212%) hue-rotate(262deg)
            brightness(115%) contrast(100%);
        }
        &:hover h3 {
          opacity: 1;
        }
        h3 {
          opacity: 0;
          margin-top: 10px;
          font-size: 2rem;
          text-align: center;
          transition: 0.5s;
          @media (max-width: 800px) {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
