@import "variables";
@import "fonts";
@import "mixins";
@import "keyframes";
@import "globals";
@import "cursor";
@import "navbar";
@import "first";
@import "about";
@import "skills";
@import "projects";
@import "contact";
@import "footer";
